*.iso
*.img
*.qcow2
*.tmp
Makefile
.gitignore
*.log
*.ks
*~
# IDE files
###########################
.settings
.project
.classpath
.factorypath
.externalToolBuilders
maven-eclipse.xml
*.ipr
*.iml
.idea
.pydevproject
