url {{ data["url"] }}

{%- for r_name, r_url in data["repos"].items() %}
repo --name={{ r_name }} {{ r_url }}
{%- endfor %}

{%- if data["updates"] %}
updates {{ data["updates"] }}
{%- endif %}

lang en_US.UTF-8
keyboard us
network
timezone --utc Etc/UTC
auth --enableshadow --passalgo=sha512
selinux --enforcing
rootpw --lock
user --name=node --lock
firstboot --disabled
services --enabled={{ data["services"] }}
firewall --enabled --service={{ data["firewall"] }}
poweroff

clearpart --all --initlabel
bootloader --timeout=1

part /boot --fstype=xfs --size=1024
part pv.01 --grow --size=50176

volgroup ovirt --pesize=4096 pv.01

logvol / --fstype=xfs --name=root --vgname=ovirt --size=6144 --grow
logvol /home --fstype=xfs --name=home --vgname=ovirt --size=1024 --fsoptions="nodev"
logvol /tmp --fstype=xfs --name=tmp --vgname=ovirt --size=2048 --fsoptions="nodev,noexec,nosuid"
logvol /var --fstype=xfs --name=var --vgname=ovirt --size=20480 --fsoptions="nodev"
logvol /var/log --fstype=xfs --name=log --vgname=ovirt --size=10240 --fsoptions="nodev"
logvol /var/log/audit --fstype=xfs --name=audit --vgname=ovirt --size=1024 --fsoptions="nodev"
logvol swap --name=swap --vgname=ovirt --size=8192

%packages --ignoremissing
cloud-init
cloud-utils-growpart
openscap
openscap-utils
scap-security-guide
aide
dracut-fips
tmux
cockpit
yum-utils
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-ivtv-firmware
-iwl6000g2b-firmware
-iwl7265-firmware
{%- for pkg in data["packages"] %}
{{ pkg }}
{%- endfor %}
%end


#
# Adding upstream oVirt
#
%post --erroronfail
set -x
yum install -y {{ releaserpm }}
yum -y update

# Use baseurl instead of repo to ensure we use the latest rpms
sed -i "s/^mirrorlist/#mirrorlist/ ; s/^#baseurl/baseurl/" $(find /etc/yum.repos.d/ovirt*.repo -type f ! -name "*dep*")

yum module enable -y javapackages-tools pki-deps 389-ds

yum install -y \
	ovirt-engine \
	ovirt-engine-dwh \
	ovirt-provider-ovn

yum install -y \
	ovirt-engine-extension-aaa-ldap-setup

#
echo "Creating a partial answer file"
#
cat > /root/ovirt-engine-answers <<__EOF__
{% include "ovirt-engine-answers" %}
__EOF__

echo "Enabling ssh_pwauth in cloud.cfg.d"
cat > /etc/cloud/cloud.cfg.d/42_ovirt_appliance.cfg <<__EOF__
# Enable ssh pwauth by default. This ensures that ssh_pwauth is
# even enabled when cloud-init does not find a seed.
ssh_pwauth: True
__EOF__

echo "Enabling cockpit socket"
systemctl enable cockpit.socket

echo "Enabling fstrim service"
systemctl enable fstrim.timer

echo "Removing linux-firmware package."
yum -C -y remove linux-firmware

#
# Enable the guest agent
#
yum install -y qemu-guest-agent
systemctl enable qemu-guest-agent

rm -vf /etc/sysconfig/network-scripts/ifcfg-e*

%end
